/*Базовые селекторы*/
.title{
    color: red;
}
h1, h3 {
  font-family: "Times New Roman";
}
.Введение {
	 width: 380px; /* Ширина блока с текстом */
     text-align: center; /* Выравнивание по правому краю */
    color: red;
}
p {
  font-family: "Arial"
}

/*Комбинации селекторов*/
h3 { background-color: white; }
div h3 {  color: red;
		  font-family: "Arial";
		}
			 

h3 ~ p,li {
  color: black;
}
/*Псевдоэлементы*/
.text::after {
   content: "читайте подробнее.";
   color: red;
}
.text1::before { 
	content: "*";
    color: red;
}

::selection {
  color: red;
  background: gold;
} 
p::first-letter {
  font-size: 130%;
}
/*Псевдоклассы*/
a:link { color: blue; }          
a:visited { color: purple; }    
a:hover { background: green; }  
a:active { color: red; } 

.red-input:focus {
  color: red;
}

 p:empty {
    background: red;
    padding:3px;
    margin-left: 4px;
    display: inline-block;
   }